/* ====== Other Section */
body {
	font-family: "Roboto-Light";
}
  @font-face {
	  font-family: 'Roboto-Bold';
	  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
		   url('../fonts/roboto/Roboto-Bold.woff') format('woff');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Roboto-Light';
	  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
		   url('../fonts/roboto/Roboto-Light.woff') format('woff');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Roboto-Medium';
	  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
		   url('../fonts/roboto/Roboto-Medium.woff') format('woff');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Roboto-Regular';
	  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		   url('../fonts/roboto/Roboto-Regular.woff') format('woff');
	  font-weight: normal;
	  font-style: normal;
  }
  
  @font-face {
	  font-family: 'Roboto-Thin';
	  src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
		   url('../fonts/roboto/Roboto-Thin.woff') format('woff');
	  font-weight: normal;
	  font-style: normal;
  }
/* ======= Close Other*/

/* =============================================== */
li.title {
	padding: 15px 0;
}

.active-list:hover {
	transition: .3s;
	border-left: 3px solid #ffffff !important;
}
.divider {
	margin: 0 !important;
    background-color: #37474f;
}
i.bi {
	font-size: 20px;
}
.collapsible-header {
	padding: 8px 20px !important;
}
.collapsible-header i{
	margin: 0 32px 0 0;
}
.collapsible-body ul li a i{
	font-size: 12px;
	margin-right: 5px;
}
.bi-chevron-right {
	font-size: 12px !important;
}
.page-footer {
	position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
	margin-bottom: 0;
    padding: 10px 0px;
    font-size: 14px;
	z-index: 999;
}
#nav-mobile {
	z-index: 1000;
}

.side-nav {
	width: auto;
}
.menu-wraper ul li{
	padding: 0 30px;
}
.salam {
	margin-right: 640px;
}
hr {
	border: 1px solid #7b1fa2;
	width: 90%;
}
.content {
	padding: 20px 0;	
}
.page-footer p{
	display: inline;
}

.header {
	margin-bottom: 0;
}

.preloader {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.preloader .loading {
	position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.menu-item a {
	padding: 8px 20px !important;
	height: 60px !important;
}
/* For Mobile Devices */
@media only screen and (max-width: 600px){
	.header {
		margin: 2px 0;
		font-size: 35px;
	}

	h1, h2, h3, h4, h5, h6, p{
		text-align: left !important;
	}

	hr {
		float: left;
		width: 60%;
		margin: 0;
	}

	.card-panel {
		padding:6px;
	}

	nav .button-collapse {
		margin: 0 7px;
	}

	.title h5 {
		text-align: center !important;
	}
	.page-footer p{
		display: none;
	}
	
	.page-footer a {
		display: block;
		text-align: center;
		float: none !important;
	}
}

/* ========================= Form page style section */
.help-pic {
	width: 100%;
}
.row-input .col{
	padding-left: 0;
}
.header-icon {
	font-size: 3.56rem !important;
}
.card-panel {
	padding: 6px 8px 24px 8px;
}
/* For Dekstop/Pc/Laptop Devices */
@media only screen and (min-width: 1366px){
	li.title {
		padding: 18px 0;
	}	
	
	#nav-mobile {
		overflow-y: hidden;
	}

	.main-wrapper {
		width: 82% !important;
	}
	
	.menu-wraper {
		padding: 0 10px;
	}
	
}

@media only screen and (min-width:1600px) {
	.main-wrapper {
		width: 85% !important;
	}
	.content {
		padding: 40px 0;	
	}
}

/* =================== Form Section */

/* Clear fix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}